/* Generals */

html {}

body {
	margin: 50px;
}

img {
	border: none;
}

/************* EO Generals *********/

.frame {
    display: flex;
    flex-flow:  row wrap;
}

.frame > * {
    flex: 1 auto;
    padding: 1em;
}

.frame header {
    background-color: red;
}

.frame article {
    background-color: #ccc;
}

.frame .stuff1 {
    background-color: orange;
}

.frame .stuff2 {
    background-color: blue;
}
    
.frame footer {
    background-color: gray;
}


@media (orientation:portrait) { 

    .stuff1 {
        order: 2
        
    }
    .stuff2 {
     order: 1
    }
    
    .frame footer {
        flex-basis: 100%;
        order: 3;
    }

}


