body {
    background-color: black;
}

.frame {
    display: flex;
    flex-flow: row wrap;
}

.frame > * {
    padding: 1em;
    flex: 1 auto;
}

.frame header {
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20% auto;
    height: 10em;
    flex-basis: 100%;
}

.frame header .logo {
    width: 20%;
    margin-left: 40%;
}


.frame article {
    background-color: yellow;
     
}

.frame .extra1 {
    background-color: aqua;
     
}
.frame .extra2 {
    background-color: blueviolet;
    
}

.frame footer {
    background-color: #333;
    
}


